*{padding: 0;
margin: 0;}

.studentWork{
    display: flex;
    flex-wrap: wrap;
    width: 850px;
}
.imagecard>img{
    height: 400px;
    padding: 8px;
    object-fit: fill;
    width: auto;
    display: block;
}
